scripts/name_cloze_task/fireworks_out/*/*.csv
scripts/direct_probing/fireworks_out/*/*.csv
scripts/prefix_probing/fireworks_out/*.csv
scripts/prefix_probing/out/*.csv
scripts/Adventures_of_Huckleberry_Finn_nct_gpt4o.csv
scripts/direct_probing/out/*.csv
scripts/prefix_probe/out/*.csv
scripts/name_cloze_task/out/*.csv
