.DS_Store
scripts/Prompts (old)
scripts/olmo-search/slurm_olmo.sh
scripts/olmo-search/shards/shard_00000000_processed.jsonl

olmo-search/olmocheck_27935018.out
olmo-search/olmocheck_28024592.out
olmo-search/olmocheck_28027435.out
olmo-search/olmocheck_28047152.out
olmo-search/olmocheck_28048245.out
olmo-search/olmocheck_28061399.out
olmo-search/olmocheck_28061406.out
olmo-search/olmocheck_28061688.out
olmo-search/olmocheck_28061899.out
olmo-search/olmocheck_28061901.out
olmo-search/olmocheck-go_28064305.out
olmo-search/olmocheck-go_28064307.out
olmo-search/olmocheck-go_28067306.out
olmo-search/results/A_Tale_of_Two_Cities_filtered_results.csv
olmo-search/results/Fahrenheit_451_filtered_results.csv
olmo-search/results/Harry_Potter_and_the_Deathly_Hallows_filtered_results.csv
olmo-search/results/Harry_Potter_and_the_Deathly_Hallows_non_NE_results.csv
olmo-search/shards/shard_00000000_processed.jsonl
olmo-search/shards/shard_00000001_processed.jsonl
olmo-search/shards/shard_00000001_processed.jsonl.zst
scripts/fireworks_directprobe_llama405b_27405478.out
scripts/fireworks_directprobe_llama405b_27405491.out
scripts/fireworks_directprobe_llama405b_27405495.out
scripts/fireworks_directprobe_llama405b_27455846.out
scripts/slurm_directprobe.sh
scripts/slurm_prefix_probe.sh
scripts/slurm.sh
scripts/.venv/*
results/direct_probe/Llama-3.1-405b/1984_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/1984_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/Pride_and_Prejudice_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/Pride_and_Prejudice_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Great_Gatsby_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Great_Gatsby_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Picture_of_Dorian_Gray_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Picture_of_Dorian_Gray_direct_probe_llama405b_1s_NE_data.csv
scripts/direct_probing/fireworks_direct_probe.py

results/direct_probe/organize_csv.py