.DS_Store
/scripts/Evaluation/nct/.env
scripts/Prompts (old)
scripts/olmo-search/slurm_olmo.sh
scripts/olmo-search/shards/shard_00000000_processed.jsonl
olmo-search/*.out
olmo-search/olmocheck_27935018.out
olmo-search/olmocheck_28024592.out
olmo-search/olmocheck_28027435.out
olmo-search/olmocheck_28047152.out
olmo-search/olmocheck_28048245.out
olmo-search/olmocheck_28061399.out
olmo-search/olmocheck_28061406.out
scripts/olmo-search/*.out
olmo-search/olmocheck_28061688.out
olmo-search/olmocheck_28061899.out
olmo-search/olmocheck_28061901.out
olmo-search/olmocheck-go_28064305.out
olmo-search/olmocheck-go_28064307.out
olmo-search/olmocheck-go_28067306.out
olmo-search/results/A_Tale_of_Two_Cities_filtered_results.csv
olmo-search/results/Fahrenheit_451_filtered_results.csv
olmo-search/results/Harry_Potter_and_the_Deathly_Hallows_filtered_results.csv
olmo-search/results/Harry_Potter_and_the_Deathly_Hallows_non_NE_results.csv
olmo-search/shards/shard_00000000_processed.jsonl
olmo-search/shards/shard_00000001_processed.jsonl
olmo-search/shards/shard_00000001_processed.jsonl.zst
scripts/fireworks_directprobe_llama405b_27405478.out
scripts/fireworks_directprobe_llama405b_27405491.out
scripts/fireworks_directprobe_llama405b_27405495.out
scripts/fireworks_directprobe_llama405b_27455846.out
scripts/slurm_directprobe.sh
scripts/slurm_prefix_probe.sh
scripts/slurm.sh
scripts/.venv/*
results/direct_probe/Llama-3.1-405b/1984_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/1984_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/Pride_and_Prejudice_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/Pride_and_Prejudice_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Great_Gatsby_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Great_Gatsby_direct_probe_llama405b_1s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Picture_of_Dorian_Gray_direct_probe_llama405b_0s_NE_data.csv
results/direct_probe/Llama-3.1-405b/The_Picture_of_Dorian_Gray_direct_probe_llama405b_1s_NE_data.csv
scripts/direct_probing/fireworks_direct_probe.py
results/direct_probe/merge_csv.py
results/direct_probe/organize_csv.py
scripts/Evaluation/dir_probe/fireworks_prefixprobe_llama405b_28438397.out
bfg.jar
tree.log
..bfg-report/2025-02-09/23-44-39/cache-stats.txt
..bfg-report/2025-02-09/23-44-39/deleted-files.txt
..bfg-report/2025-02-09/23-44-39/object-id-map.old-new.txt
results/name_cloze/Llama-3.1-405b/1984_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/1984_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/A_Tale_of_Two_Cities_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/A_Tale_of_Two_Cities_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/A_thousand_splendid_suns_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/A_thousand_splendid_suns_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Adventures_of_Huckleberry_Finn_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Adventures_of_Huckleberry_Finn_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Adventures_of_Sherlock_Holmes_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Adventures_of_Sherlock_Holmes_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Dracula_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Dracula_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Dune_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Dune_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Fahrenheit_451_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Fahrenheit_451_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Frankenstein_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Frankenstein_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Harry_Potter_and_the_Deathly_Hallows_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Harry_Potter_and_the_Deathly_Hallows_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Of_Mice_and_Men_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Of_Mice_and_Men_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Percy_Jackson_The_Lightning_Thief_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Percy_Jackson_The_Lightning_Thief_name_cloze_Llama-3.1-405b_1s_masked_passages.csv
results/name_cloze/Llama-3.1-405b/Pride_and_Prejudice_name_cloze_Llama-3.1-405b_0s_masked_passages.csv
scripts/fireworks_namecloze_llama405b_28566850.out
scripts/fireworks_namecloze_llama405b_28566855.out
scripts/fireworks_namecloze_llama405b_28566868.out
scripts/fireworks_namecloze_llama405b_28566874.out
scripts/fireworks_namecloze_llama405b_28568208.out
scripts/fireworks_namecloze_llama405b_28568222.out
scripts/name_cloze_task/fireworks_nct.py
.venv
..bfg-report
scripts/Evaluation/nct/.env/bin/activate
results/direct_probe/rename_csv.py
results/name_cloze/rename_cols.py
scripts/Prompts/shuffle.py
results/direct_probe/script.py
diagnostic_df1.csv
results/name_cloze copy
scripts/Evaluation/dir_probe/heat_map_aggregate_copy copy.py
results/direct_probe/delete_csv.py
results/direct_probe/Llama-3.1-405b copy
results/direct_probe/script.py
results/direct_probe/delete_cols.py
results/direct_probe/rename_cols.py
results/direct_probe/aggregate_heatmaps/test
scripts/Evaluation/dir_probe/heat_map_aggregate_copy copy 2.py
scripts/Evaluation/dir_probe/heat_map_aggregate_copy copy 3.py
scripts/Evaluation/nct/heat_map_aggregate copy 2.py
scripts/Evaluation/nct/heat_map_aggregate copy 3.py
scripts/Evaluation/nct/alishaeval
scripts/Evaluation/nct/heat_map_aggregate copy 4.py
scripts/Prompts copy
direct_probe_masked_accuracy_vs_context_length.png
direct_probe_ne_accuracy_vs_context_length.png
direct_probe_non_ne_accuracy_vs_context_length.png
scripts/Evaluation/prefix_probe/sanity_chec.py
direct_probe_masked_accuracy_vs_context_length_by_shot_type.png
direct_probe_masked_accuracy_vs_context_length_with_passage_coun.png
direct_probe_ne_accuracy_vs_context_length_by_shot_type.png
direct_probe_ne_accuracy_vs_context_length_with_passage_count.png
direct_probe_non_ne_accuracy_vs_context_length_by_shot_type.png
direct_probe_non_ne_accuracy_vs_context_length_with_passage_count.png
olmo-search/shards/shard_00000000_processed.jsonl.zst
olmo-search/shards/shard_00000000_processed.jsonl.zst?download=true
olmo-search/shards/shard_00000000_processed.jsonl.zst?download=true.1
olmo-search/shards/test.jsonl
new_graphs
scripts/Evaluation/dir_probe/heat_map_aggregate_copy copy 4.py
results/direct_probe/compare_csv_cols.py